[2016-10-25 12:49] ingvagabund opened #1 "Outstanding issues"
**TODO**:
- [ ] leaking `DeltaFIFO` go routines: https://github.com/kubernetes/kubernetes/issues/28158 (with possible PR https://github.com/kubernetes/kubernetes/pull/37137)
- [ ] leaking admission go routines in never stopped reflectors: https://github.com/kubernetes/kubernetes/pull/37148

[2016-11-23 10:51] ingvagabund opened #2 "Panic observed: converting extensions.ReplicaSets with v1 coder instead of extensions coder."
[code]

[2016-11-28 16:22] ingvagabund opened #3 "--default-config string flag description states pod instead of scheduler"
--default-config string        Path to JSON or YAML file containing pod definition.

[2016-11-28 16:22] ingvagabund opened #4 "rename --maxLimit flag to --max-limit"
SSIA

[2016-11-28 16:31] ingvagabund opened #5 "Introduce additional level of caches to decrease traffics between the framework and apiserver"
Each time an estimation is run the framework recaptures the current objects in the cluster. Instead of relisting all objects every time, create another level of caches that gets populated via reflectors. The framework  can than relist all objects form the caches and minimize the traffic.

[2016-11-29 03:08] chengzhang1016 opened #6 ""Pod requirements" in output should use resource request, and have duplicate info in output"
Problem 1: The "Pod requirements" in output is using the value of resource limit, but not resource request.
Problem 2: The output have duplicate info about "duplicate" while running with `--verbose`. Such as:
[code]
How to reproduce:
1. Create a yaml file without resource limit
[code]
2. Estimate cluster capacity
[code]

[2016-11-29 03:15] chengzhang1016 opened #7 ""--verbose" doesn't work in watch mode"
The option of "--verbose" doesn't work in watch mode, for example:
[code]
[code]

[2016-11-29 03:38] chengzhang1016 commented on #6
Another suggestion:
Problem3: about the `fit failure` for node selector, can we change the reason from `MatchNodeSelector` to `notMatchNodeSelector`?
[code]

[2016-11-29 12:58] ingvagabund opened #8 "Extend the `PodRequirements` in watch mode with node selector as well"
SSIA

[2016-11-29 13:32] ingvagabund opened #9 "Create cluster-capacity user account and base images on docker hub"
SSIA

[2016-11-30 03:13] chengzhang1016 opened #11 "Cluster capacity was not limited by limitrange"
I found it doesn't base on limitrange while estimating cluster capacity.
Problem Description:
1. Shouldn't schedule any pod while limit/request value in pod yaml larger than Max of limitrange
2. Shouldn't schedule any pod while limit/request value in pod yaml smaller than Min of limitrange
3. Should use default limit/request of limitrange to schedule pods while limit/request value is empty in pod

[2016-11-30 09:58] chengzhang1016 opened #12 "Should support URL for "--podspec""
I think we should support URL for --podspec
Such as:
[code]

[2016-12-02 02:44] chengzhang1016 commented on #2
I also hit this issue random

[2016-12-02 05:57] chengzhang1016 opened #13 "cluster-capacity hang if pod.yaml contain spec.nodeName"
cluster-capacity will hang if pod.yaml contain `spec.nodeName`, pods should be scheduled successful base on `spec.nodeName` in pod yaml file.
For example:
[code]

[code]

[2016-12-02 07:55] chengzhang1016 opened #14 "Need to check namespace in `metadata.namespce` of pod yaml is exist or not before estimate and schedule pods"
I think we need to check namespace in `metadata.namespce` of pod yaml is exist or not before estimate and schedule pods.
In another word, user want to know how many pods can be scheduled in cluster, but no namespace `cluster-capacity` in current cluster.  Actually, below pod cannot be created as no namespace cluster-capacity.
[code]

[2016-12-02 11:09] ingvagabund commented on #3
https://github.com/ingvagabund/cluster-capacity/commit/8f0950679703254265e6691238b605beb3a0a572

[2016-12-02 11:09] #3 closed

[2016-12-02 11:12] ingvagabund commented on #4
https://github.com/ingvagabund/cluster-capacity/commit/e2dc6881bfa5530d53cc3e5c6fb41da387403cfe

[2016-12-02 11:12] #4 closed

[2016-12-02 18:00] derekwaynecarr opened #15 "Versioned API"
The API returned on watch status should be versioned.

[2016-12-02 23:16] ingvagabund commented on #6
Problem 1: fixed with https://github.com/ingvagabund/cluster-capacity/commit/8585c6757fd9d13be7b2e2196939d63b343b9486

Problem 2: The first "fit failure on node" messages are logs from scheduler itself which I can not suppress (unless you 2>/dev/null). The second "fit failure on node" is printed by the framework when verbose is set. The behaviour is expected.

Problem 3: The ``MatchNodeSelector``

[2016-12-02 23:16] #6 closed

[2016-12-02 23:20] ingvagabund commented on #7
The output you can see are error logs from the scheduler component itself. Unless you redirect the stderr to /dev/null. I admit the verbose mode could print at least some message so when the stderr is ignored it is seen the framework is not hanging.

[2016-12-03 09:13] ingvagabund commented on #7
Extended with https://github.com/ingvagabund/cluster-capacity/commit/e21934896e2303d2e934683cc20d17605fa165cc

[code]

[code]

Though, non-json output format does not make much sense.

[2016-12-03 09:13] #7 closed

[2016-12-03 09:49] ingvagabund commented on #8
https://github.com/ingvagabund/cluster-capacity/commit/3fbcb69212110df18d20042518aaa6b6c850d469

[2016-12-03 09:49] #8 closed

[2016-12-03 10:26] ingvagabund commented on #11
Admissions are not enabled by default. You need to set ``--apiserver-config`` to point to configuration file. E.g. ``--apiserver-config config/apiserver.yaml``. After that you get:

[code]

[2016-12-03 10:26] #11 closed

[2016-12-03 10:47] ingvagabund commented on #13
Thanks for detecting that. Fixed with https://github.com/ingvagabund/cluster-capacity/commit/35dd89de55617f29dd62c8e45094dc9dbbc3971d.

[2016-12-03 10:47] #13 closed

[2016-12-03 14:31] ingvagabund commented on #5
https://github.com/ingvagabund/cluster-capacity/commit/fd59fd95ca5c66e98ea6f1556b0224460db5f362

[2016-12-03 14:31] #5 closed

[2016-12-03 15:26] ingvagabund commented on #14
This is expected. The default behaviour of the analysis is to explore entire resource space. It does not matter from what namespace the pod is. The namespace begins to be relevant once some of the available admissions get applied (e.g. ResourceQuota or LimitRanger).

Give or take, the namespace should exist anyway. Fixing with https://github.com/ingvagabund/cluster-capacity/commit/1d4235dd8af753f1

[2016-12-03 15:26] #14 closed

[2016-12-03 16:37] ingvagabund commented on #12
https://github.com/ingvagabund/cluster-capacity/commit/0dd288d7ff63b49042b6828686006ca4275347e1

The podspec you reffer fails pod validation. Otherwise:

[code]

[2016-12-03 16:37] #12 closed

[2016-12-03 19:30] ingvagabund commented on #2
This is reproducible everytime there is a RS in cluster and the CC is run in watch mode. E.g.

[code]

[2016-12-03 20:01] ingvagabund commented on #2
Fixed with https://github.com/ingvagabund/cluster-capacity/commit/76f2faee5f24263766eca94bf23fc59a255b011f

[2016-12-03 20:01] #2 closed

[2016-12-03 20:02] ingvagabund commented on #15
Can you give an example?

[2016-12-05 03:12] chengzhang1016 commented on #14
Fixed and verified. Thanks.

The current output:
[code]

[2016-12-05 03:30] chengzhang1016 opened #16 ""restartPolicy" and "dnsPolicy" shouldn't be "Required value""
"restartPolicy" and "dnsPolicy" shouldn't be "Required value". For example, estimate cluster capacity with below yaml (without "restartPolicy" and "dnsPolicy")
[code]
[code]

[2016-12-05 03:33] chengzhang1016 commented on #12
Fixed and verified. Thanks.

[2016-12-05 05:33] chengzhang1016 commented on #6
Fixed and verified. Thanks.

[2016-12-05 05:52] chengzhang1016 opened #17 "Wrong info of "--verbose" in watch mode"
There are two problems in output of "--verbose" in watch mode:
1. Althrough I have created namespace "cluster-capacity", the output of "--verbose" in watch mode still give the error `Unable to create next pod to schedule: Pod's namespace cluster-capacity not found: Unable to create getter for namespaces: Requested namespaces resource cluster-capacity not found`.

2. I think we don't need let user

[2016-12-05 05:54] chengzhang1016 commented on #7
Thanks your fix. `--verbose` work in watch mode, but still need to improve I think. Please refer to https://github.com/ingvagabund/cluster-capacity/issues/17

[2016-12-05 06:00] chengzhang1016 opened #18 "Need check the file if exist while using URL"
Please check the file if exist while using URL:
[code]

We can refer to `kubectl`:
[code]

[2016-12-05 06:21] chengzhang1016 commented on #11
Thanks for your explaination.

[2016-12-05 06:41] chengzhang1016 opened #19 "[RFE] Should support user specify spec.nodeName in pod yaml"
Pod should be scheduled to specify node follow spec.nodeName in pod yaml, and will not be scheduled to other nodes.

Such as below pod only can be scheduled to `ec2-54-161-105-73.compute-1.amazonaws.com`, but in current code doesn't support this feature. Furthermore, the pod with `spec.nodeName` also can be scheduled to a paint or unschedulable node. You can refer to my TC: https://tcms-openshift.

[2016-12-05 06:43] chengzhang1016 commented on #13
Hang issue was fixed, but please support nodeName feature. Refer to: https://github.com/ingvagabund/cluster-capacity/issues/19

[2016-12-05 11:43] ingvagabund commented on #19
This can not be currently implemented. It requires awareness of some of the Kubelet's behaviour.
Kubelet will be acknowledge in another iteration.

[2016-12-05 12:09] ingvagabund commented on #18
https://github.com/ingvagabund/cluster-capacity/commit/0db144e70f44ac82a24457d15a13ba3554ad37de

[2016-12-05 12:09] #18 closed

[2016-12-05 12:23] ingvagabund commented on #17
Per 1) fixed with https://github.com/ingvagabund/cluster-capacity/commit/5eb5846369214821d63df333432d1a4a1d322d82. It takes some time before the framework sync with the cluster objects. Thus, the reason why the first run reports missing namespace.

Per 2) those are internal scheduler errors, nothing I can do about it.

[2016-12-05 12:23] #17 closed

[2016-12-06 02:59] chengzhang1016 commented on #17
Verified. Thanks.

[2016-12-06 03:00] chengzhang1016 commented on #18
Verified. Thanks.

[2016-12-15 14:22] hodovska commented on #16
When pod is created using `kubectl create`, several steps need to happen before actual creation (unmarshalling, conversion, default values setting, validation, etc.) restartPolicy and dnsPolicy are values which are in kubectl set by default before validation, that's why here the sole validation fails.

Disscussion about moving kubectl logic to server is in progress. https://github.com/kubernetes/k

[2016-12-16 13:17] hodovska commented on #16
fixed in 7e50b60f7942d7ec20e72e6c077118325a9223df

[2017-01-05 16:56] derekwaynecarr commented on #15
The watch status API represents a contract between a caller and the provider.

As a result, we should version it similar to other kube style APIs if we surface it to end-users.

One potential option would be to do something akin to the following:

[code]

[2017-01-10 12:26] hodovska commented on #16
@chengzhang1016 please test

[2017-01-11 02:41] chengzhang1016 commented on #16
@hodovska Verified and passed. Thanks for your fix.

[2017-01-11 11:20] hodovska commented on #15
@ingvagabund do you agree with this structure? - preserved scheduler fail type and message. Node fail messages are in ClusterCapacityReviewNodeResult

[code]

[2017-01-11 11:31] ingvagabund commented on #15
LGTM

[2017-01-11 12:23] #16 closed

[2017-01-13 14:57] aveshagarwal commented on #15
LGTM.

[2017-01-13 22:35] derekwaynecarr commented on #15
this is better to me, what would happen if i want to schedule a set of pod templates?  @ingvagabund did you have a use case where you wanted to know how may of N pod templates could be scheduled together as a group?

[2017-01-16 11:45] ingvagabund commented on #15
A sequence of pod templates is planned for another iteration of the design.

In a short, a sequence of pods is repeated indefinitely and made into a stream of pods. The scheduler just schedules items on the stream as long as it can. Once there is no pod to schedule, all the pods are broken back into sequences.  Here, two approaches how to sum the results:
1) count the total number of sequences tha

[2017-01-24 22:29] sferich888 opened #21 "Need better build instructions"
Not sure what I am doing, but `make build` does not provide enough instruction to build these components.

[code]

[2017-01-25 12:20] ingvagabund commented on #21
What go version do you have? All the dependencies are under vendor. Looks like the directory is ignored.

[2017-01-25 14:51] aveshagarwal commented on #21
@sferich888 could you show what is the output of echo $GOPATH? I tried locally and it works fine.

[2017-01-25 14:52] aveshagarwal commented on #21
And yes what go version do you have? I tried it on fedora 25 without any issues.

[2017-02-08 20:14] derekwaynecarr opened #24 "Document required permissions to run in RBAC cluster"
If run as a pod on a cluster (k8s or openshift), we need to enumerate the minimal permissions required to run as part of deployment instructions.

@hodovska @aveshagarwal

[2017-02-08 20:37] ingvagabund opened #25 "Tests: create test to count a number of running go routines after each scheduler iteration"
The cluster capacity framework runs a scheduler and admission controller inside. As currently both components suffer from non-terminated go routines, the number of handing go routines grows over time. There are two PRs (kubernetes/kubernetes#37148, kubernetes/kubernetes#37137) that needs to be merged to fix the problem. In order to avoid similar issues, it makes sense to introduce a test the monit

[2017-02-09 08:40] hodovska commented on #24
For k8s see https://github.com/kubernetes-incubator/cluster-capacity/blob/master/doc/RUN_IN_KUBERNETES.md

[2017-02-10 02:43] derekwaynecarr opened #27 "API server configuration file is not a versioned format"
The API server configuration file is not a versioned syntax.

see: https://github.com/kubernetes-incubator/cluster-capacity/blob/master/config/apiserver.yaml

If we are going to accept input files, we need to make them versioned.

[2017-02-10 02:54] derekwaynecarr commented on #27
I am a little apprehensive to invent a configuration file syntax since we lack a structured type yet for the apiserver itself.  Is it possible to reduce the set of options further?

[2017-02-10 03:01] derekwaynecarr commented on #15
I am wondering if the command itself rather than have a --podspec argument could just support a -f argument similar to kubectl create, and it would accept a single pod or a v1.List of pods as well.

[2017-02-10 03:11] derekwaynecarr opened #28 "Ability to run as pod on cluster using in-cluster config"
For example, I want to be able to do the same as here...

https://github.com/kubernetes/kubernetes/pull/39006

[2017-02-10 03:19] derekwaynecarr opened #29 "Think about reducing the number of supported admission controllers"
Given the evolving nature of admission control in k8s, I think we should evaluate reducing the number of admission controllers to a fixed set rather than the entire open ended list.

For reference see:
https://github.com/kubernetes/community/pull/132

The candidate list could be limited to things that default resources, and things that constrain resources.

1. LimitRanger
1. ResourceQuota

I am al

[2017-02-10 03:23] derekwaynecarr opened #30 "cluster capacity comes in two flavors"
kubernetes schedules two primary things:

1. pods to nodes
2. pvc to pv

thoughts about dividing the capacity command into two flavors to allow future expansion for clusters that do not have dynamic storage provisioning?

[code]

[2017-02-10 03:37] derekwaynecarr commented on #29
Any of the other admission plugins that default toleration or node selector would be a good candidate as well

[2017-02-10 09:08] ingvagabund commented on #29
All admissions taken into account are set in https://github.com/kubernetes-incubator/cluster-capacity/blob/master/config/apiserver.yaml#L7. If the supported set needs to get limited, it is a question of extending the validation of the configuration file and filtering out all non-supported admissions. Ending with failure or with warning stating all admissions that are skipped.

[2017-02-10 09:16] ingvagabund commented on #30
Given a nature of various analysis we can run over cluster resources, the ``cluster-capacity KEYWORD`` seems reasonable. Currently, only the cluster scheduler is part of analysis. PV and family is another area I would like to explore. For that, we need to extend beyond scheduler and include Kubelet and possibly other components or part(s) of components.

[2017-02-10 09:18] ingvagabund commented on #28
We already have that (or at least it was my impression) [1]. @hodovska can you confirm?

[1] https://github.com/kubernetes-incubator/cluster-capacity/blob/master/cmd/cluster-capacity/app/server.go#L153

[2017-02-10 09:21] ingvagabund commented on #27
All the options in the file are needed to create admissions controller. We can set some of the options to default without allowing any changes to them and remove them from the configuration file.

[2017-02-10 09:55] hodovska commented on #28
Yes, when kubeconfig and address of kube api server are not given in flags, cc tries to get in-cluster config. Maybe we should improve this approach to something more clear.

Should be inClusterConfig set as default with possibility to override the values from flags?

[2017-02-10 11:20] ingvagabund opened #31 "Provide integration tests to be run as part of CI"
We need integration tests to verify the CC works.

**Assumptions**:
1) kubernetes cluster is already deployed

**The tests should consists of**:
1) building cc
2) running cc with various settings (pod without admissions, pod with admissions, ...)
3) running cc as a pod in the cluster
4) ...

**Magic command to run**:
[code]

[2017-02-10 12:28] ingvagabund commented on #28
At best, this should be done automatically. The cc should recognize if it is running inside a pod or as a CLI.

[2017-02-10 14:17] aveshagarwal commented on #27
I think having command flags and env vars both would be good with most of them set by default.

[2017-02-10 15:09] ingvagabund commented on #29
Conc: Replace the configuration file apiserver flag with option with a list of admission pluggins

[2017-02-10 16:01] ingvagabund commented on #29
Use ResourceQuota nad LimitRanges only at the moment

[2017-02-10 16:09] derekwaynecarr commented on #30
[code]

[2017-02-10 20:03] derekwaynecarr opened #32 "update package names for this repo"
For example:
github.com/ingvagabund/cluster-capacity/pkg/api

Needs to become:
github.com/kubernetes-incubator/cluster-capacity/pkg/api

[2017-02-10 20:04] derekwaynecarr commented on #32
Makefiles need to be updated as well....

[2017-02-10 20:05] derekwaynecarr opened #33 "why specify --kubeconfig and --master"
I appear to have to provide both.

With a valid kubeconfig, I am getting:

[code]

I am not in-cluster.

[2017-02-10 20:05] derekwaynecarr commented on #33
For example, I would expect the master to be pulled from the kubeconfig current cluster.

[2017-02-10 21:11] aveshagarwal commented on #33
@derekwaynecarr Right, with --kubeconfig,  it should not ask for --master.

[2017-02-10 21:59] ingvagabund commented on #32
Done by https://github.com/kubernetes-incubator/cluster-capacity/commit/459a4440e7000b2e19705ffb25d39297a49cc6c3 and https://github.com/kubernetes-incubator/cluster-capacity/commit/cc5e37d7bda119d66c191906f1a493a303c9dcda

[2017-02-10 21:59] #32 closed

[2017-02-12 04:10] derekwaynecarr opened #36 "simulator is doing list/watch for currently unused resources"
while it is true this command may grow its scope to support other resources, i think we should limit the initial set of resources it caches via list/watch in its store to the minimum set needed to support the simulation run.

see:
https://github.com/kubernetes-incubator/cluster-capacity/blob/master/pkg/framework/store/store.go#L183

[2017-02-13 21:24] derekwaynecarr opened #39 "Usage of colors in CLI"
Maybe I am color blind, but I find the use of colors in the CLI output really hard to read especially if we have a customized terminal.

For example, it is nearly impossible for me to read the number in the following text:

`The cluster can schedule 26 instance(s) of the pod.`

Can we remove that feature?

[2017-02-13 21:26] derekwaynecarr opened #40 "Improve clarity of command output"
[code]

The presence of the error text actually makes you think the command didn't work as expected.  Can we remove the error printed from the scheduler?

[2017-02-13 21:49] #39 closed

[2017-02-13 21:52] aveshagarwal commented on #33
I think lets close it as it is fixed now. Please reopen if the issue still persists.

[2017-02-13 21:52] #33 closed

[2017-02-13 22:12] derekwaynecarr opened #43 "Missing copyright text"
Files should have copyright text.

[2017-02-13 22:40] derekwaynecarr opened #44 "Adopt pertinent boilerplate verification from kubernetes/repo-infra"
See: https://github.com/kubernetes/repo-infra

[2017-02-15 22:54] #44 closed

[2017-02-16 10:10] ingvagabund commented on #40
If you mean ``E0213 16:24:54.181990    4663 factory.go:583] Error scheduling cluster-capacity small-pod-26: pod (small-pod-26) failed to fit in any node`` we can not. The error message comes from scheduler's logger.

[2017-02-16 13:03] aveshagarwal commented on #43
I think its done so closing it. please reopen if something is still missing.

[2017-02-16 13:03] #43 closed

[2017-03-02 20:32] aveshagarwal commented on #29
I think this is already fixed. Please reopen if it is still not addessed.

[2017-03-02 20:32] #29 closed

[2017-03-02 20:34] aveshagarwal commented on #21
I am closing this as it seems to be working as expected. Please reopen if you think the issue is still not addressed.

[2017-03-02 20:34] #21 closed

[2017-03-02 20:36] aveshagarwal commented on #27
I am closing this as apiserver config file option has been removed. Please reopen if you think the issue is not addressed

[2017-03-02 20:36] #27 closed

[2017-03-03 17:48] aveshagarwal opened #61 "Rebase to kubernetes v1.6.0-beta.1"
Rebase cluster capacity to kubernetes v1.6.0-beta.1.

[2017-03-03 17:50] aveshagarwal opened #62 "Implement hypercc."
Currently when running hypercc, it exits silently. It should be implemented as a super command of other sub commands (currently cluster capacity and genpod).

[2017-03-03 18:03] aveshagarwal commented on #31
Points 2 and 3 to me seem like end to end tests in cluster capacity context, isn't it? Any tests that require spawning a cluster would be end-to-end? Or what would be a end-to-end test?

[2017-03-06 18:08] aveshagarwal commented on #62
Fixed in https://github.com/kubernetes-incubator/cluster-capacity/pull/63 so closing.

[2017-03-06 18:08] #62 closed

[2017-03-06 21:52] aveshagarwal opened #66 "Reduce code in vendor dir to minimum possible"
I think there is a lot of code in the vendor dir and not all of them seems necessary for cluster capacity. So removing unnecessary code would be better for dependency management.

[2017-03-31 19:23] derekwaynecarr opened #68 "Items to complete before first milestone release"
Focus the tool on its primary use-case around simulated scheduling decisions in preparation for an initial milestone release candidate.

**Must dos**

- [x] Remove the use of any unversioned clients as they represent support risks across Kubernetes releases that were exposed in the rebase to k8s 1.6.

- [x] Drop support for `--admission-control` flag as it uses unversioned clients

- [x] Drop supp

[2017-03-31 19:24] aveshagarwal commented on #68
Looks good.

[2017-04-03 03:57] aveshagarwal commented on #68
I have addressed some tasks in https://github.com/kubernetes-incubator/cluster-capacity/pull/69.

2 additional item I have addressed in this PR is to update rebase from kube 1.6 rc1 to kube 1.6.  and also updated genpod to use versioned objects.

@derekwaynecarr in case you have looked into any item, please let me. I will look into remaining items tomorrow.

[2017-04-03 20:47] derekwaynecarr commented on #68
I have not had time to look at any of remaining items.  I assume you are all set unless I hear otherwise.

[2017-04-05 18:19] #68 closed

[2017-04-05 21:01] derekwaynecarr opened #70 "remove the use of testapi.*"
we should be using explicit versions

[2017-04-10 22:58] aveshagarwal opened #74 "cluster capacity not taking a namespace's resource limits into account"
With current implementation, if a namespace has resource limits/request associated with it, but provided pod spec to cluster capacity does not have any resource limits/request specified, I see that output is always 110. That seems like a default pod limit in a cluster on a node, without considering a namespace's resource limits. Is this working as designed? I thought it should have populated input

[2017-04-10 22:59] aveshagarwal commented on #61
Its already done so closing this.

[2017-04-10 22:59] #61 closed

[2017-04-10 23:03] aveshagarwal commented on #40
Fixed by @derekwaynecarr in one of his PRs.

[2017-04-10 23:03] #40 closed

[2017-04-12 15:01] #70 closed

[2017-06-14 10:12] pvanderlinden opened #79 "Building the tool"
Is there any instructions on how to solved the problem mentioned in the ticket https://github.com/kubernetes-incubator/cluster-capacity/issues/21, tried it with 1.7 and with 1.8. Tried adding the vendor directory to the GOPATH (besides a directory in my home directory), which doesn't work as well.

[2017-06-14 14:59] aveshagarwal commented on #79
@pvanderlinden Could you please share your exact error logs and steps to reproduce this?

[2017-06-15 09:55] pvanderlinden commented on #79
Hi @aveshagarwal the error is the same as in the linked ticket
Reproduce:
- Have a standard Go setup
- clone this repository
- run "make build"

Output:
[code]

[2017-06-15 10:13] pvanderlinden commented on #79
I can work around the issue with `go get github.com/kubernetes-incubator/cluster-capacity/cmd/hypercc`

[2017-06-30 20:38] derekwaynecarr opened #82 "bump tool to vendor kube 1.7 deps"
per title....

[2017-07-26 19:57] aveshagarwal commented on #82
Closing this as it has been addressed in https://github.com/kubernetes-incubator/cluster-capacity/pull/84

[2017-07-26 19:57] #82 closed

[2017-07-26 19:58] aveshagarwal commented on #28
I think this has already been addressed.

[2017-07-26 19:58] #28 closed

[2017-09-28 16:07] go4875 commented on #79
hi @pvanderlinden . was wondering if you can post on what you did to get this to work. did you run on the controller node? or any worker node?   How did you get the make build to work? Thanks

[2017-10-02 18:51] pvanderlinden commented on #79
@go4875 I didn't use the tool as it was not what I was looking for in the end. I got it to compile with the above work around, then realized from the help text it was not going to do what I needed.

[2017-10-02 19:00] aveshagarwal commented on #79
@pvanderlinden Could you provide some details what were you looking for, so that it'd help us in figuring out if your use case fits within the scope of this tool or not?

[2017-10-02 19:02] pvanderlinden commented on #79
I was looking for a simple tool to get the remaining and used capacity of the cluster (mem/cpu request). Which now is going to be done by prometheus since we are deploying that for general monitoring.

[2017-10-02 20:57] go4875 commented on #79
@aveshagarwal - will you be able to put some more clarify on how to deploy the analysis framework. have tried, but not having any success.
thanks
@pvanderlinden  - thanks so much for replying back

[2017-10-02 21:07] aveshagarwal commented on #79
@go4875 I'd happy to but could you specify what exact issue you are facing?

In general, to run analysis against a kubernetes cluster, you need to do following steps:

1. git clone https://github.com/kubernetes-incubator/cluster-capacity.git
2. make build
3. ./cluster-capacity --kubeconfig=`<path to kubeconfig related to your cluster>` --podspec=`<input pod spec>`

[2017-10-02 21:17] go4875 commented on #79
during the make build. this fails. I am running ubuntu 16.04 on GCP. i also tried following Pauls' recommendation of using go get <>. but that also fails
please see below error of make build

jedd_go@controller-0:~/cluster-capacity$ export GOPATH=~/cluster-capacity/:$PATH
jedd_go@controller-0:~/cluster-capacity$ go get github.com/kubernetes-incubator/cluster-capacity/cmd/hypercc
package context: u

[2017-10-04 05:37] go4875 commented on #79
@aveshagarwal   any feedback from your side. any other info that you need?

[2017-10-04 12:35] aveshagarwal commented on #79
@go4875 is this your /home/jedd_go/cluster-capacity/ your GOPATH?

[2017-10-09 14:36] go4875 commented on #79
@aveshagarwal  - sorry for delays in replies. I was in training. the go is included in /usr/bin. the directory cluster-capacity is what I use during git clone. but i did export the GOPATH to include the directory cluster-capacity and the $PATH variable. really hoping to find a resolution to this. we are really needing a framework like this. Thanks

[2017-10-10 22:43] go4875 commented on #79
@aveshagarwal - just wanting to check if you are able to help . if not. then I will start looking for other analysis tools for cluster capacity. thanks

[2017-10-10 23:22] aveshagarwal commented on #79
@go4875 what version of golang you are using? It seems you are using golang that does not have https://golang.org/pkg/context/ .

[2017-10-10 23:28] go4875 commented on #79
@aveshagarwal. using 1.6.2. do you know what version i should  use?

[2017-10-11 12:27] aveshagarwal commented on #79
@go4875 atleast golang 1.7.

[2017-10-11 19:55] go4875 commented on #79
hello @aveshagarwal  will setup a new workstation with golang 1.7 and let you know how that works. thank again for the help

[2017-10-12 22:10] go4875 commented on #79
@aveshagarwal made some progress with the build. but still with errors. i am currently using 1.7 go
[jedd_go@instance-2 cluster-capacity]$ make build
go build -o hypercc github.com/kubernetes-incubator/cluster-capacity/cmd/hypercc
# github.com/kubernetes-incubator/cluster-capacity/vendor/k8s.io/apimachinery/pkg/util/strategicpatch
vendor/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go:520: un

[2017-10-12 22:15] aveshagarwal commented on #79
@go4875 use go 1.8

[2017-10-13 15:08] go4875 commented on #79
@aveshagarwal - download of 1.8 from web is corrupt. used 1.8.1 -
is it really his hard to compile.
[jedd_go@instance-2 cluster-capacity]$ make build
go build -o hypercc github.com/kubernetes-incubator/cluster-capacity/cmd/hypercc
# runtime
/usr/local/go/src/runtime/signal_unix.go:27: _SIG_DFL redeclared in this block
        previous declaration at /usr/local/go/src/runtime/signal1_unix.go:15
/us

[2017-10-13 15:28] go4875 commented on #79
@aveshagarwal - my go folder was not a "clean" one. seems like the compile went through. will go through the rest of the analysis readme now. Thanks for your help.

[2017-12-18 17:11] aweiteka opened #93 "Report capacity as a metric"
As a cluster administrator I rely on prometheus metrics and alert manager rules to automate responding to cluster events. I want cluster capacity results to be exposed as a metric so I can alert operations and respond. Example metric:

[code]

With this data I am able create a rule like this to automate a response:

[code]

Reference: https://prometheus.io/docs/instrumenting/

cc @aveshagarwal @de

[2017-12-18 17:24] eparis commented on #93
I don't think `failure count` would be the right metric. I think you'd want/need `number schedulable` and any time that was below some threshold (or 0) would be an alert.

How to implement this is/could be interesting. With the tools we have today one could potentially write a pod with 2+ containers. Container #1 could run a Prometheus file exporter where the file being exported as a metric was sh

[2017-12-18 17:37] aweiteka commented on #93
Yes, that's a much better metric

[2018-03-05 14:05] ingvagabund commented on #79
I am still able to build the project:
1. Cloning repository under /home/jchaloup/Projects/src/github.com/kubernetes-incubator/cluster-capacity
2. Setting `export GOPATH=/home/jchaloup/Projects`
3. cd into the `cluster-capacity`
4. `make`

@go4875 @pvanderlinden are you still unable to compile the tool?

[2018-03-05 14:14] pvanderlinden commented on #79
If you clone the repository inside the GOPATH it will work indeed, without putting the whole repo in the GOPATH, it won't.

[2018-03-05 14:25] ingvagabund commented on #79
That is the expected way to do it. Even Kubernetes must be inside the GOPATH to be compilable nowadays.

[2018-03-05 14:49] pvanderlinden commented on #79
I think for a tool to use with kubernetes, the user shouldn't be expected to get a go developer. A lot of these tools provide binary versions, or give you a clear instructions on how to do this. From the instructions you would get the impression that you should do the following:

[code]

Instead the user is expected to do the following:
[code]

[2018-03-05 17:28] go4875 commented on #79
Hello all
I have been staying with 1.8 for this version. Currently, we are trying to figure out how we can incorporate some "automation" to provide feedback to developers before they deploy their yaml file.
So the developers can include the request limits for resources from the cluster

[2018-05-24 14:47] jessfraz opened #98 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-31 16:01] #98 closed

[2018-12-11 08:40] ringtail opened #104 "Is there any plan to move from kubernetes release1.8 to release1.13 in vendor"
I found the kube-sheduler in vendor is very old. Is there any plan to move from kubernetes release1.8 to release1.13 in vendor

[2018-12-11 08:47] ringtail opened #105 "cluster-capacity support other scheduler"
such as gang-scheduler and kube-batch

[2018-12-11 16:05] aveshagarwal commented on #105
We have not discussed about it, but that sounds like a good idea to me to have more scheduler options as part of cluster-capacity. Would you like to take it forward?

[2018-12-11 16:05] aveshagarwal commented on #104
Yes we have been thinking about it. Would you like to contribute?

[2018-12-12 02:20] ringtail commented on #104
@aveshagarwal I am working on a project based on cluster-capacity. I can do that after that. Is there any weekly meeting that we can talk about the details and plan.

[2018-12-12 02:22] ringtail commented on #105
@aveshagarwal I think cluster-capacity framework is the best place to wrapper these differences.

[2018-12-22 07:01] ringtail commented on #104
@aveshagarwal https://github.com/ringtail/cluster-capacity/tree/release-1.12 I have merged cluster-capacity from release-1.8 to release-1.12. And it works well for now. I'll fix the left problems about unittests and vendor patch. Could you have a look at this branch?

[2019-06-20 00:52] #9 closed

[2019-06-20 00:52] #19 closed

[2019-06-20 01:53] #30 closed

[2019-06-20 02:54] #15 closed

[2019-06-20 02:54] #25 closed

[2019-06-20 02:54] #1 closed

[2019-06-20 02:54] #24 closed

[2019-06-20 02:54] #36 closed

[2019-06-20 03:55] #31 closed

[2019-06-20 03:55] #66 closed

[2019-06-20 05:57] #74 closed

[2019-06-21 09:24] #93 closed

[2019-07-17 02:52] ringtail opened #107 "Is this project still active?"
I want to rebase the code to kubernetes-1.13. Is there any reviewer to review?

[2019-09-09 11:36] ingvagabund commented on #107
Wau, the latest rebase was done to kubernetes-1.9.0. @ringtail is 1.13 still your target version?

[2019-09-09 11:37] ingvagabund commented on #107
We might even go for 1.15. Or, make a series starting at 1.13.

[2019-09-09 11:40] ingvagabund commented on #105
/reopen

[2019-09-09 11:41] ingvagabund commented on #105
+1

[2019-09-09 11:41] ingvagabund commented on #104
/reopen

[2019-09-10 02:43] ringtail commented on #107
@ingvagabund https://github.com/ringtail/cluster-capacity I have rebased to 1.12 and 1.13. I can rebase to 1.15 if necessary.

[2019-09-10 14:01] ingvagabund commented on #107
@ingvagabund lemme rebase to 1.15. I need to again get familiar with the code.

[2019-09-17 11:04] ingvagabund commented on #107
Rebase to 1.15.3 here: https://github.com/kubernetes-incubator/cluster-capacity/pull/108. Still testing though so far it looks good.

[2019-09-17 13:20] ingvagabund commented on #107
@ringtail @gramidt PR is ready for review. Would you have time to give it a look?

[2019-09-17 13:21] ingvagabund commented on #107
@ringtail is kube 1.13 a must for you? Or, will 1.15 work for you as well?

[2019-09-17 15:00] ringtail commented on #107
sure, but I am not a reviewer of this project. Maybe I can check out the code and give feedback in this issue.

[2019-09-17 15:01] ringtail commented on #107
For my case,1.12 and 1.13 is enough. I would like to move to 1.15 later.

[2019-09-17 15:02] ingvagabund commented on #107
Atm, we are quite short on any reviewer of the project. Any testing/feedback would help.

[2019-09-17 15:03] ingvagabund commented on #107
We might first rebase to 1.13 and then build my PR on top of that.

[2019-09-17 15:03] ringtail commented on #107
Thanks.

[2019-09-17 18:13] gramidt commented on #107
Unfortunately I'm also not a reviewer on the project, but would happy to help assist moving it forward. I will reach out to some colleagues to see if anyone can help.

[2019-09-20 10:59] ingvagabund commented on #107
@ringtail can you open the rebase to 1.13 PR? I will review then.

[2019-10-22 19:30] ingvagabund commented on #107
@ringtail ping

[2019-10-23 02:14] ringtail commented on #107
Hi @ingvagabund Sorry for a long delay. I will make up the code and submit this weekend.

[2019-11-04 12:01] ingvagabund commented on #107
@ringtail ping

[2019-11-06 07:00] ringtail commented on #107
pong! Hey man. I have rebased the code to release-1.13.5. The PR is #109

[2019-11-18 03:32] #107 closed

[2019-12-09 10:47] ingvagabund commented on #104
Resolved by https://github.com/kubernetes-incubator/cluster-capacity/pull/109

[2019-12-09 10:47] #104 closed

[2020-02-12 10:24] u2takey opened #114 "better to add binary with release"

[2020-05-24 13:38] povils opened #119 "Use cluster-capacity programatically"
Is there a way how we could easily use this tool programatically?(It would probably require to migrate to go modules.)

Use case:
Create a single binary library which would call cluster-capacity programatically and do some actions based on the output

[2020-05-25 10:12] ingvagabund commented on #119
Hey @povils, I wish I could be more helpful in this direction. As long as the scheduler framework [1] lives under k8s/kubernetes project [2] and does not have its own repo, all consumers of cluster capacity need to use anything but go modules. The main k8s/kubernetes project is not meant to be consumed directly. Which since go modules is enforced. Thus, the reason cluster capacity still relies on

[2020-08-06 11:29] #105 closed

[2020-08-11 08:25] #114 closed

[2020-11-03 17:44] thockin opened #132 "old (beta) topology labels are going away"
Hello.

The labels `failure-domain.beta.kubernetes.io/zone` and `failure-domain.beta.kubernetes.io/region` have been deprecated for almost a year now and are scheduled to be removed from kubernetes/kubernetes after 1.20 (Q1'21).

In prep for that I scanned all our repos looking for places that reference the old names and not the new ones.  There are a couple such places in this repo.  Without know

[2020-11-04 11:10] ingvagabund commented on #132
Hello @thockin, thanks for the heads up. The labels are used in examples which are quite outdated. No impact here.

I will keep this issue open until the examples are updated.

[2021-02-03 13:08] ingvagabund commented on #132
/remove-lifecycle stale

[2021-02-03 14:18] #132 closed

[2021-04-16 13:11] peter-wangxu opened #137 "Not able to detect the failure message for each node"
`./cluster-capacity --kubeconfig=k8s.kubeconfig --podspec 1.yaml --verbose`
test-0 pod requirements:
	- CPU: 2
	- Memory: 4Gi

The cluster can schedule 0 instance(s) of the pod test-0.

Termination reason: Unschedulable: 0/21 nodes are available: 1 node(s) didn't find available persistent volumes to bind, 1 node(s) didn't match pod affinity/anti-affinity, 1 node(s) didn't match pod anti-affinity r

[2021-04-19 11:00] ingvagabund commented on #137
Kube-scheduler aggregates the node reasons. Currently, there's no way to tell a failure message for a specific node.
/close

[2021-04-19 11:00] #137 closed

[2021-04-22 00:27] jianhaiqing opened #138 "Would the Node with taints be taken into account ?"

[2021-04-22 00:34] jianhaiqing commented on #138
Yes, Tainted nodes will be taken account.

[2021-04-22 00:34] #138 closed

[2021-07-12 17:55] limscoder opened #139 "Feature additions"
Hi, I made 3 feature additions in a fork and was wondering if you'd consider accepting PRs for any of them described below.

1. Replaced --podspec with --replicaset

https://github.com/limscoder/cluster-capacity/commit/6302eb1a754b4ca1eda9a0b888d50af28e139b50

This commit replaces podspec config with replicaset config. This enables multiple podspecs to be defined with the desired number of replica

[2022-02-15 17:05] ingvagabund commented on #119
Just migrated to go modules: https://github.com/kubernetes-sigs/cluster-capacity/pull/140

[2022-03-30 11:04] ingvagabund opened #147 "[Conformance testing] pod-affinity scheduling constraint"
Check correctness of the pod-affinity constraint.

**Properties**:
- pod affinity is namespace scoped
- pods getting co-located on the same node (or a set of nodes)

**Upstream documentation**: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity

**Measured criteria**:
1. Sorted sequence of rations of (#pod_on_a_node/#total_pods_on_all_node

[2022-04-11 10:14] huiwq1990 opened #151 "Difference between `cluster-capacity` and `kube-scheduler-simulator`"
If `cluster-capacity` clould schedule multi pods, what's the difference with `kube-scheduler-simulator`?

[2022-04-28 08:01] CharlesQQ opened #154 "Is there roadmap for `cluster-capacity`?"

[2022-07-15 18:57] #119 closed

[2022-08-03 12:22] LiuNingqian opened #155 "Does cluster-capacity can be extended by scheduler-extender like real kube-schduler?"
Our real kube-scheduler is extended by scheduler extender, I want to know if cluster-capacity can also be extended by scheduler extender?

[2022-08-27 12:59] #147 closed

[2022-09-08 12:11] #151 closed

[2022-09-25 09:41] #154 closed

[2022-10-05 03:19] jacky68147527 opened #162 "Can the ParseAPISpec function support setting spec content?"
Cluster-Capcacity is very useful, and the ParseAPISpec function currently supports remote and local spec files, but I want to use cluster-capacity to provide http openapi, the caller can submit spec content and execute capcacity verification, so can the ParseAPISpec function support setting spec content?